<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:compileSdkVersion="32" android:compileSdkVersionCodename="12" package="com.classic.oyunlarim" platformBuildVersionCode="32" platformBuildVersionName="12">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="32" />
	<application android:theme="resourceId:0x7f100248" android:label="Oyunlarim" android:icon="res/drawable/snake.png" android:debuggable="true" android:testOnly="true" android:allowBackup="true" android:supportsRtl="true" android:extractNativeLibs="false" android:fullBackupContent="res/xml/backup_rules.xml" android:roundIcon="res/mipmap-xxxhdpi-v4/ic_launcher_round.webp" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:dataExtractionRules="res/xml/data_extraction_rules.xml">
		<activity android:name="com.classic.oyunlarim.MainActivity" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.classic.oyunlarim.FirstActivity" />
		<activity android:name="com.classic.oyunlarim.SecondActivity" />
		<activity android:name="com.classic.oyunlarim.ThirdActivity" />
		<activity android:name="com.classic.oyunlarim.FourthActivity" />
		<provider android:name="androidx.startup.InitializationProvider" android:exported="false" android:authorities="com.classic.oyunlarim.androidx-startup">
			<meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup" />
			<meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup" />
		</provider>
	</application>
</manifest>
